body {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #6C0C00;
  font-size: 16px;
}

h1 {
  color: #FFBD00;
}

.page-header {
  border: none;
}

.panel-default > .panel-heading{
  background-color: #53D503;
}

.panel-default {
  border-color: #53D503;
}

.main-panel {
  border: none;
  padding: 0px;
}